<h2>Format explanation</h2>
<div>
  <strong>comment</strong>: Raw comment that was extracted<br>
  <strong>aspect</strong>: Topic that was talked about, consisting of the raw text from which the topic was extracted and the group is is assigned to<br>
  <strong>attribute</strong>: Trait indicating the evaluation of this topic in this comment, again consisting of the text and the group<br>
  <strong>sentiment</strong>: ... WIP<br>

</div>

<div>
  Example: <br>
  <div class="example">
    <pre>{{example | json}}</pre>
  </div>

</div>
