<mat-card class="content">
  <mat-card-title>Compare {{ _facetTypeVisibleName }}s</mat-card-title>
  <mat-card-subtitle>
    <app-breadcrumb [paths]="breadCrumbPaths"></app-breadcrumb>
  </mat-card-subtitle>
  <mat-card-content>
    <p>
      This is the <strong>Comparison Page</strong>. You can compare and merge {{ _facetTypeVisibleName | lowercase }}s. Use filters to modify which {{ _facetTypeVisibleName | lowercase }}s are shown. Use the toggle to switch between topics and traits.<br>
      Drag and drop {{ _facetTypeVisibleName | lowercase }}s onto the compare area to compare the sentiment of these.<br>
      Click on pies to get more details about the corresponding {{ _facetTypeVisibleName | lowercase }}.<br>
      Drag and drop one of the pies onto the other to merge these.<br>
      Hover over a pie and press the + Button to pin this pie in this view.
    </p>
    <!-- Toolbar -->
    <div #toggle fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <label>Trait</label>
      <mat-slide-toggle
        color="primary"
        [checked]="isAspect"
        (change)="toggleTypes()">
        Topic
      </mat-slide-toggle>
    </div>
    <!-- Search, Sort and Filter -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <app-search-filter #searchReference
        [filterService]="filterService">
      </app-search-filter>
      <app-filter [groups]="availableFilters"
        (filterChange)="onFilterChange($event)"
        (clear)="onFilterClear()">
      </app-filter>
      <div fxLayout="column" fxLayoutAlign="start">
        <label class="material-like-label">Minimum Mentions</label>
        <mat-slider #minimumMentionsSlider
          tickInterval="1"
          thumbLabel
          [value]="minimumMentions"
          [max]="maximumMentions"
          (change)="onMinimumMentionsChange($event)">
        </mat-slider>
      </div>
      <app-sort-filter #sortComponent
        [data]="searchedFacetGroups"
        [(sortState)]="stateService.sort.state"
        (sort)="onSort($event)">
      </app-sort-filter>
    </div>
    <div>
      <app-active-filters [activeFilters]="filterService.activeFilters" (removed)="filterService.remove($event.option, $event.type)"></app-active-filters>
    </div>
    <!-- Main Visualisation Area -->
    <div cdkDropListGroup>
      <!-- Comparison Area-->
      <div>
        <app-radar *ngIf="comparisonGroups.length > 0" [groups]="comparisonGroups"></app-radar>
        <div class="compare-area"
          [ngClass]="{ 'dashed-border': dragging, 'empty': comparisonGroups.length === 0 }"
          fxLayout="column"
          fxLayoutAlign="center center"
          cdkDropList
          cdkDropListSortingDisabled
          [cdkDropListData]="comparisonGroups"
          (cdkDropListDropped)="onComparisonListDrop($event)">
          <span *ngIf="comparisonGroups.length === 0">Drop items here to compare...</span>
          <mat-chip-list>
            <mat-chip *ngFor="let group of comparisonGroups"
              [removable]="true"
              (removed)="remove(group)">
              {{ group.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <!-- Pie Grid -->
      <div class="pie-grid"
        fxLayout="row wrap"
        fxLayoutAlign="space-evenly">
        <div *ngFor="let group of displayedFacetGroups"
          cdkDrag
          [cdkDragData]="group"
          cdkDropList
          cdkDropListSortingDisabled
          [cdkDropListData]="group"
          (cdkDropListDropped)="onDrop($event)"
          (cdkDragStarted)="dragging = true"
          (cdkDragReleased)="dragging = false">
          <app-pie-cell [group]="group">
          </app-pie-cell>
        </div>
      </div>
    </div>

    <mat-paginator
      [length]="groupCount"
      [pageIndex]="currentPageIndex"
      [pageSize]="currentPageSize"
      [pageSizeOptions]="pageSizes"
      (page)=updatePaginator($event)>
    </mat-paginator>
  </mat-card-content>
</mat-card>
