mat-card.content {
  margin: 10px;
  margin-left: 15%;
  margin-right: 15%;
  min-width: 320px;
  min-height: 80%;
}

div.existing_dataset {
  margin-top: 60px;
}

div.submit {
  margin-top: 20px;
}

h3, strong {
  font-weight: 500;
}

mat-divider {
  margin-top: 30px;
  width: 100%;
}

mat-form-field.existing_dataset_form {
  width: 200px;
}

input.upload_input {
  width: 300px;
  cursor: pointer;
}

.light {
  color: rgba(0, 0, 0, 0.54)
}

.upload_description {
  float: left;
}

.format {
  float: left;
}

.form-group {
  margin-top: 15px;
}

.format_icon {
  //font-size: 0.5px;
  transform: scale(0.8);
  margin-top: 8px;
}
