<mat-card class="content">
  <mat-card-title>Dataset Selection</mat-card-title>

  <mat-card-content>
    <div>
      <div class="upload_description">
        <h3>Upload your own Dataset</h3>
      </div>
      <button
        mat-icon-button color="primary"
        aria-label="Show supported upload format"
        matTooltip="Supported upload format"
        (click)="handleUploadFormatHelpClick()"
      >
        <mat-icon class="format_icon" svgIcon="questionmark"></mat-icon>
      </button>
    </div>


    <div class="form-group">
      <div class="upload">
        <input #upload class="upload_input"
               type="file"
               id="file"
               accept="application/json"
               (change)="handleFileUpload($event.target.files)">
      </div>
      <span *ngIf="uploadedInvalidDataset" class="light" matTooltip="Uploaded invalid Dataset.">Uploaded invalid Dataset.</span>
    </div>

    <mat-divider></mat-divider>

    <div class="existing_dataset">
      <h3>Or choose an existing Dataset</h3>
      <mat-form-field class="existing_dataset_form">
        <mat-label>Choose</mat-label>
        <mat-select [(ngModel)]="demoValue" (selectionChange)="resetUpload()">
          <mat-option *ngFor="let demo of demoDatasets"
                      [value]="demo.value">
            {{ demo.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="submit">
      <button mat-flat-button
              type="button"
              color="primary"
              (click)="submit()">
        Start
      </button>
    </div>
    <span *ngIf="noDatasetSelected" class="light" matTooltip="No Dataset selected.">No Dataset selected.</span>

  </mat-card-content>
</mat-card>
