/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.content {
margin: 10px 15%;
min-width: 320px;
}

h3, strong {
font-weight: 500;
}

mat-form-field.medium {
    width: 140px;
}
mat-form-field.medium-small {
    width: 100px;
}
mat-form-field.small {
    width: 65px;
}

.material-like-label {
    font-size: 11px;
    color: rgba(0,0,0,.4);
    font-weight: 500;
}
