<mat-card class="content">
  <mat-card-title>Inspect the data</mat-card-title>
  <mat-card-subtitle><app-breadcrumb [paths]="breadCrumbPaths"></app-breadcrumb></mat-card-subtitle>

  <mat-card-content>
    <p>
      Here you can see an overview of all comments. Use filters to modify which comments are shown.<br>
      Click on topics or traits to get more details about these.
    </p>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <app-search-filter [filterService]="filterService">
      </app-search-filter>
      <app-filter
        [groups]="availableFilters"
        (filterChange)="onFilterChange($event)"
        (clear)="onFilterClear()">
      </app-filter>
      <div fxLayout="column" fxLayoutAlign="start">
        <label class="material-like-label">Minimum Mentions</label>
        <mat-slider #minimumMentionsSlider
          tickInterval="1"
          thumbLabel
          [value]="minimumMentions"
          [max]="maximumMentions"
          (change)="onMinimumMentionsChange($event)">
        </mat-slider>
      </div>
      <app-sort-filter
        [data]="(filterService.filteredDataChange | async)"
        [disabled]="false"
        (sort)="onSort($event)">
      </app-sort-filter>
    </div>
    <app-active-filters
      [activeFilters]="filterService.activeFilters"
      (removed)="filterService.remove($event.option, $event.type)">
    </app-active-filters>
    <app-comments [comments]="(comments | async)"></app-comments>
  </mat-card-content>
</mat-card>
