<mat-card *ngIf="facetExists; else error">
  <mat-card-header>
    <mat-card-title>{{ facet }}</mat-card-title>
    <mat-card-subtitle>{{ facetType }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <!-- other type table -->
    <table mat-table [dataSource]="otherTable">
      <ng-container cdkColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> {{ this.otherType }} </th>
        <td mat-cell *matCellDef="let row"> {{ row.group }} </td>
      </ng-container>

      <ng-container cdkColumnDef="positive">
        <th mat-header-cell *matHeaderCellDef> positive </th>
        <td mat-cell *matCellDef="let row"> {{ row.positive }} </td>
      </ng-container>

      <ng-container cdkColumnDef="negative">
        <th mat-header-cell *matHeaderCellDef> negative </th>
        <td mat-cell *matCellDef="let row"> {{row.negative}} </td>
      </ng-container>

      <ng-container cdkColumnDef="neutral">
        <th mat-header-cell *matHeaderCellDef> neutral </th>
        <td mat-cell *matCellDef="let row"> {{row.neutral}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['group', 'positive', 'negative', 'neutral']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['group', 'positive', 'negative', 'neutral']"></tr>
    </table>

    <mat-paginator #otherPaginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons>
    </mat-paginator>

    <br/>
    <br/>

    <!-- subgroups -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Subgroups
        </mat-panel-title>
        <mat-panel-description>
          what this group is made of...
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table mat-table [dataSource]="subGroupTable">
        <ng-container cdkColumnDef="group">
          <th mat-header-cell *matHeaderCellDef> {{ this.otherType }} </th>
          <td mat-cell *matCellDef="let row"> {{ row.group }} </td>
        </ng-container>

        <ng-container cdkColumnDef="positive">
          <th mat-header-cell *matHeaderCellDef> positive </th>
          <td mat-cell *matCellDef="let row"> {{ row.positive }} </td>
        </ng-container>

        <ng-container cdkColumnDef="negative">
          <th mat-header-cell *matHeaderCellDef> negative </th>
          <td mat-cell *matCellDef="let row"> {{row.negative}} </td>
        </ng-container>

        <ng-container cdkColumnDef="neutral">
          <th mat-header-cell *matHeaderCellDef> neutral </th>
          <td mat-cell *matCellDef="let row"> {{row.neutral}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['group', 'positive', 'negative', 'neutral']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['group', 'positive', 'negative', 'neutral']"></tr>
      </table>

      <mat-paginator #subGroupPaginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons>
      </mat-paginator>


    </mat-expansion-panel>

  </mat-card-content>
</mat-card>
<ng-template #error>
  <app-error message="The requested facet '{{ facet }}' does not exist."></app-error>
</ng-template>
