<mat-card *ngIf="(facetExists$ | async); else error">
  <mat-card-title>{{ facet$ | async }} - Details</mat-card-title>
  <mat-card-subtitle><app-breadcrumb [paths]="(breadCrumbPaths$ | async)"></app-breadcrumb></mat-card-subtitle>
  <mat-card-content>
    <div #topWrapper
      fxLayout="row wrap"
      fxLayoutAlign="space-evenly">
      <app-pie [extractions]="extractions$ | async" [by]="subGroupType$ | async"></app-pie>
      <app-sentiment-table
        [extractions]="extractions$ | async"
        [facetType]="subGroupType$ | async">
      </app-sentiment-table>
    </div>
    <br>
    <div #infoWrapper>
      <mat-expansion-panel #commentPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>Comments</mat-panel-title>
          <mat-panel-description>all comments related to {{ facetType$ | async }} {{ facet$ | async }}</mat-panel-description>
        </mat-expansion-panel-header>
        <app-comment-table [extractions]="extractions$ | async"></app-comment-table>
      </mat-expansion-panel>
      <mat-expansion-panel #groupPanel>
          <mat-expansion-panel-header>
            <mat-panel-title>Members</mat-panel-title>
            <mat-panel-description>all members of this {{ facetType$ | async }}'s group</mat-panel-description>
          </mat-expansion-panel-header>
          <app-sentiment-table
            [extractions]="extractions$ | async"
            [facetType]="facetType$ | async"
            [links]="false"
            facetProperty="text">
          </app-sentiment-table>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
<ng-template #error>
  <app-error message="The requested resource does not exist."></app-error>
</ng-template>
