<mat-card class="content" *ngIf="(facetExists$ | async); else error">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-title-group>
      <mat-card-title>{{ facet$ | async }} - Details</mat-card-title>
      <mat-card-subtitle><app-breadcrumb [paths]="(breadCrumbPaths | async)"></app-breadcrumb></mat-card-subtitle>
    </mat-card-title-group>
    <a mat-button
      [routerLink]="returnLink"
      [queryParams]="returnParams"
      matTooltip="close detail view"
      [disabled]="false">
      <mat-icon>close</mat-icon>
    </a>
  </div>
  <mat-card-content>
    <div>
      The overall mood of the Dataset is <strong>{{ overallMood | async }}</strong> with <strong>{{ overallMoodPercent | async }}</strong>.<br>
      The mood of this {{ faceTypeVisibleName$ | async }} {{ facet$ | async }} is <strong>{{ facetMood | async }}</strong> with <strong>{{ facetMoodPercent | async }}</strong>.<br>
      This is <strong> {{ facetMoodEvaluation | async }}</strong>.

    </div>
    <div #topWrapper
      class="top_wrapper"
      fxLayout="row wrap"
      fxLayoutAlign="space-evenly">
      <app-pie [extractions]="extractions$ | async" [by]="subGroupType$ | async" (clicked)="handlePieClicked($event)"></app-pie>
      <app-sentiment-table
        [groups]="subGroups$ | async"
        [extractions]="extractions$ | async"
        [facetType]="subGroupType$ | async"
        (merge)="updateEvent$.next()">
      </app-sentiment-table>
    </div>
    <br>
    <div #infoWrapper>
      <mat-expansion-panel #commentPanel>
        <mat-expansion-panel-header>
          <mat-panel-title>Comments related to {{ faceTypeVisibleName$ | async }} {{ facet$ | async }}</mat-panel-title>
        </mat-expansion-panel-header>
        <app-comment-table [extractions]="extractions$ | async"></app-comment-table>
      </mat-expansion-panel>
      <mat-expansion-panel #groupPanel>
          <mat-expansion-panel-header>
            <mat-panel-title>Synonyms</mat-panel-title>
          </mat-expansion-panel-header>
          <app-merged-members-table
            [group]="group$ | async">
          </app-merged-members-table>
      </mat-expansion-panel>
    </div>
  </mat-card-content>
</mat-card>
<ng-template #error>
  <app-error message="The requested resource does not exist."></app-error>
</ng-template>
