<div>
  <table mat-table [dataSource]="tableData">
    <ng-container cdkColumnDef="group">
      <th mat-header-cell *matHeaderCellDef> Comment </th>
      <td mat-cell *matCellDef="let row"> {{ row.group }} </td>
    </ng-container>

    <ng-container cdkColumnDef="aspects">
      <th mat-header-cell *matHeaderCellDef> Topics </th>
      <td class="aspects" mat-cell *matCellDef="let row" >
        <div *ngFor="let aspect of row.aspects">
          <a [routerLink]="['/detail']"
             [queryParams]="{ facet: aspect, facetType: 'aspect' }">
            {{ aspect }}
          </a>
        </div>
      </td>
    </ng-container>

    <ng-container cdkColumnDef="attributes">
      <th mat-header-cell *matHeaderCellDef> Traits </th>
      <td class="attributes" mat-cell *matCellDef="let row"> <div *ngFor="let attribute of row.attributes">
        <a [routerLink]="['/detail']"
           [queryParams]="{ facet: attribute, facetType: 'attribute' }">
          {{ attribute }}
        </a>
      </div></td>
    </ng-container>

    <ng-container cdkColumnDef="sentiment">
      <th mat-header-cell *matHeaderCellDef> Sentiment Ratio </th>
      <td mat-cell class="sentiment" *matCellDef="let row"> <span *ngIf="row.sentiment > 0" class="sentiment_positive">positive</span><span *ngIf="row.sentiment <= 0" class="sentiment_negative">negative</span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['group', 'aspects', 'attributes', 'sentiment']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['group', 'aspects', 'attributes', 'sentiment']"></tr>
  </table>

  <mat-paginator #paginator
                 [pageSizeOptions]="[20, 50, 100]"
                 showFirstLastButtons>
  </mat-paginator>

</div>
