@import '~@angular/material/theming';

.label {
    text-align: center;
    font-weight: 500;
}

.cell-wrapper {
    padding: 5px;
    cursor: pointer;
    @include mat-elevation-transition;
    @include mat-elevation(0);

    &:hover {
      @include mat-elevation(1);
    }
}

.chart-wrapper {
    margin: 0 auto;
    padding: 5px;
    padding-top: 10px;
}
