@import '~@angular/material/theming';

.label {
    text-align: center;
    vertical-align: center;
    font-weight: 500;
    cursor: pointer;
    padding: 5px;

    background-color: transparent;
    transition-property: background-color;
    transition-duration: 0.33s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: rgba(0,0,0,0.14);
    }
}

.cell-wrapper {
    padding: 5px;
    @include mat-elevation-transition;
    @include mat-elevation(0);

    &:hover {
      @include mat-elevation(1);

      & .show-on-hover {
          visibility: visible;
      }
    }
}

.chart-wrapper {
    margin: 0 auto;
    padding: 5px;
}

.mini-button {
    z-index: 9001;
    display: hidden;
    padding: 0px;
    margin: 0px;
    min-width: 24px;
    min-height: 24px;
}

.show-on-hover {
    visibility: hidden;
}
