<mat-form-field class="medium">
  <mat-select
    placeholder="Sort by..."
    [(ngModel)]="sortFunction"
    (selectionChange)="onSortOptionChange($event)">
    <mat-option [value]="noSortOption.sortFunction">{{ noSortOption.viewValue }}</mat-option>
    <mat-optgroup *ngFor="let group of sortOptions" [label]="group.name">
      <mat-option *ngFor="let option of group.members" [value]="option.sortFunction">
        {{ sortOrder === 'ascending' ? 'least' : 'most' }} {{ option.viewValue }}
      </mat-option>
    </mat-optgroup>

  </mat-select>
</mat-form-field>
<mat-form-field class="small">
  <mat-select
    placeholder="Order"
    [disabled]="noSort"
    [(ngModel)]="sortOrder"
    (selectionChange)="onSortOrderChange($event)">
    <mat-option #sortOrder *ngFor="let option of sortOrderOptions" [value]="option.value">
      {{ option.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
