<mat-card class="content">
  <mat-card-title>{{ facetType }} - Overview</mat-card-title>
  <mat-card-subtitle><app-breadcrumb [paths]="breadCrumbPaths"></app-breadcrumb></mat-card-subtitle>
  <mat-card-content>
    <p>
      Hover over {{ facetType }} to see, how many positive or negative opinions exist. <br>
      Click on a {{ facetType }} to see more details. <br>
      Use the toggle to switch between aspects and attributes.
    </p>
    <div #toggle fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="5px">
      <div>
          <label>Attribute</label>
          <mat-slide-toggle
            color="primary"
            (change)="toggleTypes()"
            checked="true">
            Aspect
          </mat-slide-toggle>
      </div>
      <div>
        <app-search-filter [data]="facetGroups" [facetType]='aspect' (searchedValue)="onSearched($event)"></app-search-filter>
      </div>
      <div>
        <app-sort-filter [data]="facetGroups" (processed)="onSort($event)"></app-sort-filter>
      </div>
    </div>
    <div class='pie-grid'
    fxLayout="row wrap"
    fxLayoutAlign="space-evenly">
      <app-pie-cell *ngFor="let group of selectedFacetGroups"
        [facetType]="facetType"
        [name]="group.name"
        [extractions]="group.extractions"
        [size]="group.sizeRatio"
        (click)="navigateToDetailPage(group.name, facetType)">
      </app-pie-cell>
    </div>
    <mat-paginator
      [length]="facetGroups.length"
      [pageSize]="currentPageSize"
      [pageSizeOptions]="pageSizes"
      (page)=updatePage($event)>
    </mat-paginator>
  </mat-card-content>
</mat-card>
