<mat-tab-group>
    <mat-tab label="Bar">
      <!-- ng-template with matTabContent enables lazyloading.
          probably a good idea, once visualisations get expensive. -->
        <ng-template matTabContent>
            <app-bar></app-bar>
        </ng-template>
    </mat-tab>
    <mat-tab label="Graph">
        <ng-template matTabContent>
            coming soon...
        </ng-template>
    </mat-tab>
    <mat-tab label="Bubbles">
        <ng-template matTabContent>
            coming soon...
        </ng-template>
    </mat-tab>
    <mat-tab label="Awesome">
        <ng-template matTabContent>
            coming soon...
        </ng-template>
    </mat-tab>
</mat-tab-group>
