<mat-form-field class="medium-small">
  <mat-select #selector
    [disabled]="!layouts.semantic"
    [value]="layouts.random"
    placeholder="Select a layout...">
    <mat-option
      [matTooltip]="layouts.random.hint"
      [value]="layouts.random">
      {{ layouts.random.viewValue }}
    </mat-option>
    <mat-optgroup label="Semantic">
      <mat-option *ngFor="let layout of layouts.semantic"
        [matTooltip]="layout.hint"
        [value]="layout">
        {{ layout.viewValue }}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
