<mat-card class="content">
  <mat-card-title>Explore the Dataset</mat-card-title>
  <mat-card-subtitle><app-breadcrumb [paths]="breadCrumbPaths"></app-breadcrumb></mat-card-subtitle>


  <mat-card-content>
    <p>
      Here you can explore the dataset. Use filters to modify how topics are shown.<br>
      The position of each topic, meaning also the distance between the topics, are defined by the selected layout.<br>
      Drag and drop bubbles onto other bubbles to merge these.<br>
    </p>
    <div #toggle fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <label>Trait</label>
      <mat-slide-toggle
        color="primary"
        [checked]="facetType === 'aspect'"
        (change)="onFacetTypeChange()">
        Topic
      </mat-slide-toggle>
    </div>
    <!-- Search, Filter, Sort -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <!-- Temporary fake search -->
      <app-search-filter [filterService]="filterService">
      </app-search-filter>
      <app-filter [groups]="availableFilters" (filterChange)="onFilterChange($event)" (clear)="onFilterClear()"></app-filter>
      <div fxLayout="column" fxLayoutAlign="start">
        <label class="material-like-label">Minimum Mentions</label>
        <mat-slider #minimumMentionsSlider
          tickInterval="1"
          thumbLabel
          [value]="minimumMentions"
          [max]="maximumMentions"
          (change)="onMinimumMentionsChange($event)">
        </mat-slider>
      </div>
    </div>
    <app-active-filters
      [activeFilters]="filterService.activeFilters"
      (removed)="filterService.remove($event.option, $event.type)">
    </app-active-filters>
    <!-- Bubble controls -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <app-size-scaling
        [scaleDownFactor]="stateService.model.state.extractions.length"
        (scalingChange)="onScalingChange($event)">
      </app-size-scaling>
      <app-layout (layoutChange)="onLayoutChange($event)">
      </app-layout>
    </div>
    <app-bubble
      [groups]="groups | async"
      [layout]="layout | async"
      [scalingFunction]="scalingFunction"
      (merge)="onMerge($event)">
    </app-bubble>
  </mat-card-content>
</mat-card>
