<mat-card class="content">
  <mat-card-title>Explore the Dataset</mat-card-title>

  <mat-card-content>
    <!-- Search, Filter, Sort -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <!-- Temporary fake search -->
      <mat-form-field>
        <input matInput type="text" placeholder="Search/Filter" disabled>
      </mat-form-field>
      <!-- Removed until polished
      <app-active-filters
        [activeFilters]="filterService.activeFilters"
        (removed)="onFilterRemoval($event)">
      </app-active-filters> -->
    </div>
    <!-- Bubble controls -->
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <app-size-scaling></app-size-scaling>
      <app-layout></app-layout>
    </div>
    <app-bubble></app-bubble>
  </mat-card-content>
</mat-card>
