<div fxLayout="column row" fxLayoutAlign="center start" fxLayoutGap="5px" class="wrapper">
  <label class="material-like-label">Active Filters</label>
  <span *ngIf="activeFilters.shuns.length === 0"> No filters active... </span>
  <mat-chip-list>
    <mat-chip *ngFor="let opt of activeFilters.shuns"
      [removable]="true"
      (removed)="remove(opt, 'shun')">
      {{ opt.name }}='{{ opt.value }}'
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
  </mat-chip-list>
</div>
